<a [routerLink]="['/']">
  <h1>CAST Store</h1>
</a>

<a [routerLink]="['/login']" class="button fancy-button"><i class="material-icons">lock_open</i>Login
</a>

<a [routerLink]="['/profile']" class="button fancy-button"><i class="material-icons">perm_identity</i>Profile
</a>

<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->